.loginPage{
    background-image: url('images/student.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0,5), url('images/student.jpg'));
    background-position: center;
    background-size: 100% 10 0%;
    background-repeat: no-repeat;
}

.loginForm{
    background-color: rgba(1, 12, 93, 0.6);
    color: white;
}  

ul li:hover{
    background-color: gray;
}

.student_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.stu_det_image{
    width: 30%;
    height: 30%;
    border-radius: 50%; 
}